extends layout

block content
  #main-content.m-scene
    // Header
    nav.navbar
      .full-width-container
        a.navbar-brand(href='/')
          img(src='images/logo.png', width='400', height='45', alt='Logo')
        .fullscreen-menu-holder
          .align-items-center
            .row.col-sm-12.mt-5
              .col-sm-3.col-xs-12.mt-5
                .align-center
                  a(href='/')
                    if (user.photo)
                      img.rounded-circle(src='/photo/#{user._id}', alt='team', width='800', height='800')
                    else if(user.gender == 'Male')
                      img.user-pic.img-responsive.rounded-circle(src='images/male.jpg', alt='picture', height = '570', width = '1200')
                    else if(user.gender == 'Female')
                      img.user-pic.img-responsive.img-rounded-circle(src='images/female.jpg', alt='picture', height = '570', width = '1200')
                  .mt-4
                    h4.text-white #{user.name}
              .col-sm-1
              .col-sm-3.col-xs-12.mt-5
                ul.sidebar-menu.mt-5
                  li
                    a(href='/settings')
                      i.fa.fa-edit.mr-20
                      | Edit Profile
                  li
                    a(href='/match')
                      i.fa.fa-list.mr-20
                      |    My Matches
              .col-sm-1
              .col-sm-3.col-xs-12.mt-5
                ul.sidebar-menu.mt-5
                  li
                    a(href='/messages')
                      i.fa.fa-comments.mr-20
                      |    Messages
                  li
                    a(href='/logout')
                      i.fa.fa-power-off.mr-20
                      |    Logout
            .row.col-sm-12.mt_150
              .col-sm-12.col-xs-12
                hr
                ul.bottom-menu
                  li
                    a(href='/') Home
                  li
                    a(href='/about') About Website
                  li
                    a(href='/algorithm') Algorithm
                  li
                    a(href='/testing') Testing
        button.hamburger-menu-btn.pull-right.for-fullscreen.hamburger-circle
          span toggle menu

          .pull-right
            #email-display #{user.email}
      //- End Header
      //- Main content
      .row.mt_20
        .col-md-1
        //- Area for current matches
        .col-md-3#contacts-area
          if(convID)
            p#active-chat.hidden #{convID}
          else if(user.conversations[0])
            p#active-chat.hidden #{user.conversations[0]}

          else
            a.btn.btn-default.btn-auto.contact-button(href="/match") No conversations! Find your match!
          if(conversations)
            each conversation in conversations
              a.btn.btn-default.btn-auto.contact-button(href="javascript: updateActiveChat('#{conversation.id}');")
                i.fa.fa-comment
                if conversation.user2 == user.email
                  p #{conversation.user1}
                else
                  p #{conversation.user2}

        //- Area for messages
        .col-md-7
          .chat
            #chat-messages
              .chat-message
            textarea#new-message(placeholder='Enter message')
        .col-md-1

      //- Navigation-bottom
      .row.mt_20
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          a.btn.btn-default.btn-lg.btn-auto(href='/')
            i.fa.fa-user-circle.lg-font
            p.lg-font Home
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          a.btn.btn-default.btn-lg.btn-auto(href='/match')
            i.fa.fa-user-plus.lg-font
            p.lg-font Match
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          a.btn.btn-default.btn-lg.btn-auto(href='/messages')
            i.fa.fa-comments.lg-font
            p.lg-font Messages
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          a.btn.btn-default.btn-lg.btn-auto(href='/settings')
            i.fa.fa-wrench.lg-font
            p.lg-font Settings
      //- End Navigation-bottom
      //- Footer
      footer Copyright 2017 © University of Western Australia
      //- Placed js files at the end of the document so the pages load faster
      script(type='text/javascript', src='js/jquery.min.js')
      script(src='js/bootstrap.min.js ')
      script(type='text/javascript', src='js/owl.carousel.js')
      script(type='text/javascript', src='js/main.js')
      script(src='/js/message.js')
