extends layout

block content
  if(user)
    #main-content.m-scene
      // Header
      nav.navbar
        .full-width-container
          a.navbar-brand(href='/')
            img(src='images/logo.png', width='400', height='45', alt='Logo')
          .fullscreen-menu-holder
            .align-items-center
              .row.col-sm-12.mt-5
                .col-sm-3.col-xs-12.mt-5
                  .align-center
                    a(href='/')
                      if (user.photo.length)
                        img.rounded-circle(src='/photo/#{userid}', alt='team', width='800', height='800')
                      else if(user.gender == 'Male')
                        img.user-pic.img-responsive.rounded-circle(src='images/male.jpg', alt='picture', height = '570', width = '1200')
                      else if(user.gender == 'Female')
                        img.user-pic.img-responsive.img-rounded-circle(src='images/female.jpg', alt='picture', height = '570', width = '1200')
                    .mt-4
                      h4.text-white #{user.name}
                .col-sm-1
                .col-sm-3.col-xs-12.mt-5
                  ul.sidebar-menu.mt-5
                    li
                      a(href='/settings')
                        i.fa.fa-edit.mr-20
                        | Edit Profile
                    li
                      a(href='/match')
                        i.fa.fa-list.mr-20
                        |    My Matches
                .col-sm-1
                .col-sm-3.col-xs-12.mt-5
                  ul.sidebar-menu.mt-5
                    li
                      a(href='#')
                        i.fa.fa-comments.mr-20
                        |    Messages
                    li
                      a(href='/logout')
                        i.fa.fa-power-off.mr-20
                        |    Logout
              .row.col-sm-12.mt_150
                .col-sm-12.col-xs-12
                  hr
                  ul.bottom-menu
                    li
                      a(href='/') Home
                    li
                      a(href='/about') About Website
                    li
                      a(href='/algorithm') Matching Algorithm
                    li
                      a(href='/testing') Testing
          button.hamburger-menu-btn.pull-right.for-fullscreen.hamburger-circle
            span toggle menu

          .pull-right
            #email-display
              p #{user.email}
      //- End Header
      .page-container
        // Register content
        .container

          .mt_10.mb_20
            h3 Edit profile
            .separator
            form#contact-form.form-fields-bg-alabaster(method='post', action=' ', role='form')
              .row
                .col-sm-6.col-xs-12
                  label Name:
                  input(type='name', name='name', value='#{user.name}')
                .col-sm-3.col-xs-6
                  label Gender:
                  select.form-control(name='gender')
                    option Male
                    if(user.gender == 'Female')
                      option(selected) Female
                    else
                      option Female
                .col-sm-3.col-xs-6
                  label Birthdate:
                  #datePicker.input-group.input-append.date
                    input.form-control(type='text', name='date', value='#{user.birthdate.toDateString()}')
                    span.add-on
              .row.mt_10
                .col-sm-6.col-xs-12
                  label Suburb:
                  input(type='text', name='suburb', value='#{user.suburb}')
                .col-sm-5.col-xs-10
                  label Postcode:
                  input(type='text', name='postcode', pattern='[0-9\s]*', value='#{user.postcode}')
                .col-sm-1.col-xs-2
                  .mt_50.mr-20(onclick='myCurrentPosition()')
                    img(src='images/gps.png', width='18', height='18')
              .row.mt_10
                .col-sm-3.col-xs-6
                  label Fitness level:
                  select.form-control(name='level')
                    option Beginner
                    if(user.level == 'Intermediate')
                      option(selected) Intermediate
                    else
                      option Intermediate
                    if(user.level == 'Advanced')
                      option(selected) Advanced
                    else
                      option Advanced
                .col-sm-3.col-xs-6
                  label Fitness activity:
                  select.form-control(name='activity', value='#{user.activity}')
                    option Cardio
                    if(user.activity == 'Strength')
                      option(selected) Strength
                    else
                      option Strength
                    if(user.activity == 'Flexibility')
                      option(selected) Flexibility
                    else
                      option Flexibility
                    if(user.activity == 'Sports')
                      option(selected) Sports
                    else
                      option Sports
                .col-sm-4.col-xs-8
                  label Area range within:
                  .range 0km
                    input(type='range', name='range', min='1', max='50', steps='1', value='10')
                .col-sm-1.col-xs-2
                  p.locationmax.mt_30 50km
              .row.mt_10
                .col-sm-12.col-xs-12
                  label Describe yourself:
                  input(type='text' name='bio', value='#{user.bio}')
              .mt_20.mb_40
                button.top_link(type='submit') Update

        //- Footer
        footer.bg-orange.mt_180.whole-container-text-white
          | Copyright 2017 © University of Western Australia
        //- Placed js files at the end of the document so the pages load faster
        script(type='text/javascript', src='js/jquery.min.js')
        script(src='js/bootstrap.min.js ')
        script(src='js/bootstrap-datepicker.min.js')
        script(src='js/main.js')
